.contact-page-admin {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.contact-list-admin {
    width: 100%;
    height: 100%;
}

.admin-item {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #d62231;
    background: rgb(250, 243, 181);
    margin-bottom: 15px;
    padding: 8px 15px;
    position: relative;
    display: block;
}

.admin-item__userNames {
    font-size: 18px;
    text-transform: capitalize;
    color: #990f0f;
}

.admin-item__email {
    color: #20201f;
    font-size: 13px;
    margin: 0 10px;
}

.admin-item__message {
    max-width: 100%;
    font-size: 16px;
    color: black;
    margin: 5px 0;
}

.admin-item__date {
    color: #990f0f;
    font-size: 14px;
    margin-left: 690px;
}