.signup-page, .signin-page {
    background-size: 100%;
    background-color: #F8F8F8;
}

.auth-form {
    width: 750px;
    height: 520px;
    background-color: #fff;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 2px 2px 10px rgb(180, 180, 180);
}

.auth-heading {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-cont input {
    width: 260px;
    height: 25px;
    border: none;
    outline: none;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    padding-left: 22px;
}

.input-cont {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.input-cont i {
    position: absolute;
    font-size: 14px;
    bottom: 8px;
}

.agreement {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin: 5px 0px 30px 0px;
}

.agreement a {
    color: #545454;
}

.chackbox {
    margin-right: 10px;
    margin-top: 4px;
}

.chackbox input {
    width: 14px;
    height: 14px;
}

.auth-btn {
    background-color: #FFAF00;
    /* width: 110px;
    height: 45px; */
    padding: 12px 33px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
}

.auth-btn:hover {
    background-color: rgb(248, 170, 2);
}

.dates {
    display: flex;
    justify-content: space-between;
}

.dates input {
    width: 66px;
}

.input-cont i {
    color: #545454;
}

.auth-form__left, .auth-form__right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-img {
    background: url('../assets/img/burger.png') no-repeat center center;
    flex: 1;
    height: 100%;
    flex-direction: row;
}

.signin-img {
    background: url('../assets/img/fries.png') no-repeat center center;
    flex: 1;
    height: 100%;
    flex-direction: row;
}

.member-link {
    align-self: flex-end;
    margin-bottom: 38px;
    color: #545454;
    line-height: 20px;
    font-size: 15px;
    margin-left: 13px;
}

.login-page__social {
    margin-top: 70px;
}

.google-btn, .facebook-btn {
    color: #fff;
    display: block;
    cursor: pointer;
    background: transparent;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.facebook-btn {
    background-color: #365BA2;
    font-size: 16px;
}

.google-btn {
    font-size: 13px;
    background-color: #E72E33;
}

.login-page__social {
    display: flex;
    align-items: center;
}

.login-page__social button {
    margin-left: 8px;
}

.desc {
    margin-right: 5px;
    font-size: 14px;
}

.auth_error, .auth_success {
    font-size: 12px;
    text-transform: capitalize;
    position: absolute;
    bottom: 112px;
    left: 126px;
    color: #e72e33;
    white-space: nowrap;
}

.auth_error--signup {
    bottom: 12px;
    left: 129px;
}

.auth_success {
    color: #42801b;
    bottom: 12px;
    left: 129px;
}

.auth_form {
    position: relative;
}