.categories {
    /* width: 250px;
    margin-right: 5px; */
    /*border: 1px solid red;
    margin-right: 5px; */
}

.categories__list__item a {
    border-bottom: dashed green 1px;
    padding: 8px;
    /* width: 250px; */
    border: 1px solid red;
    border-bottom: none;
    display: block;
    text-decoration: none;
    color: black;
}

.categories__list__item:last-child {
    border-bottom: 1px solid red;
}

.active-cat {
    background: red;
    color: green;
}

.red {
    background: red;
}

.blue {
    background: blue;
}