.logo {
    position: relative;
}

.logo__heading {
    font-style: italic;
    color: #dd1829;
    position: relative;
    white-space: nowrap;
    font-size: 16PX;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 75px;
}

.logo__heading::before, .logo__heading::after {
    content: "";
    display: block;
    border-width: 2px;
    width: 97px;
    height: 2px;
    position: absolute;
    background-color: #dd1829;
}

.logo__heading::before {
    left: 4px;
}

/*--- Midnight Drive ---*/

@font-face {
    font-family: 'Midnight Drive';
    src: url('fonts/MidnightDrive.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo h1 {
    font-family: 'Midnight Drive';
    font-size: 28px;
    color: #d62231;
    text-shadow: 1px 1px 1px #ffaf00;
    margin-left: 48px;
}

.logo a {
    text-decoration: none;
}

img.logo__img {
    position: absolute;
    left: 0px;
    height: 40px;
    top: -10px;
}

.cart-link {
    background-image: url('../assets/img/cart.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    /* border: 1px solid red; */
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background-position: center center;
}

.cart-link span {
    position: absolute;
    /* left: 0px; */
    font-weight: bold;
    color: #d62231;
    right: 7px;
    bottom: 16px;
}

/*-----Top Nav List-------*/

.header-list {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.auth-list {
    color: #545454;
    display: flex;
    align-items: center;
    position: relative;
}

.auth-list i {
    margin-right: 7px;
    font-size: 16px;
    position: relative;
    top: 1.5px;
}

.auth-list span, .separator {
    /* margin: 0px 5px; */
    color: #545454;
    position: relative;
    top: -1px;
    margin: 0px 5px;
}

.auth-list span {
    top: 1px;
}

.header-list a, .auth-list a {
    text-decoration: none;
    font-size: 14px;
    /* padding: 5px 10px; */
    /* border: 1px solid gray; */
    border-radius: 5px;
    color: #545454;
}

.auth-list {
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}

.active-top {
    color: #FFAF00 !important;
}

.active-top i {
    color: #FFAF00 !important;
}

.my-account i, .contact-list i {
    color: #545454;
    font-size: 13px;
    margin-right: 5px;
}

.contact-list {
    margin-left: 10px;
}

.profile-link i, .contact-link i {
    /* color: red; */
    /* border-right: 1px solid; */
    font-size: 14px;
}

.profile-link i {
    /* position: relative;
    top: 1px; */
    font-size: 15px;
}

.separator {
    /* color: #545454;
    position: relative;
    top: -1px;
    margin: 0px 5px; */
}

span.cart-count {
    position: absolute;
    color: #d62231;
    top: 3px;
}

.sign-out-span {
    width: 20px;
    height: 18px;
    display: -webkit-flex;
    display: flex;
    /* border: 1px solid red; */
    left: -8px;
    position: absolute !important;
    top: 15px !important;
}