.home-page .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.left-side {
    width: 250px;
    margin-right: 15px;
    position: sticky;
    top: 100px;
}

.right-side {
    flex: 1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}