.home-page .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.left-side {
    width: 250px;
    margin-right: 15px;
}

.right-side {
    flex: 1;
}

.products {
    /* flex: 1; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* .home-page {
    padding-top: 20px;
} */