.profile-nav-conteiner {
  background: rgb(204, 201, 201);
  margin-top: 50px;
  margin-left: 50px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-item-link {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  background: -webkit-linear-gradient(
    rgb(0, 0, 0),
    rgb(134, 13, 13),
    rgb(238, 203, 8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-item-link:hover {
  font-size: 20px;
  background: -webkit-linear-gradient(
    #ac0707,
    rgb(211, 19, 19)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
