.product__item {
    border: 1px solid #d62231;
    width: 222px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
    padding: 5px;
    box-sizing: border-box;
}

.product__item:hover {
    border-color: #d62231;
}

.products .product__item:nth-child(4n+4) {
    margin-right: 0px;
}

.product__item__img-cont {
    height: 200px;
    overflow: hidden;
}

.product__item__link {
    text-decoration: none;
}

.product__item__img-cont__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__item__name {
    color: #08aa6e;
    color: #08aa6e;
    color: #272727;
    padding: 10px 5px;
    background-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__item__name i {
    color: #8c8c8c;
}

.product__item__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #272727;
    color: #692f28;
    border-top: 1px solid #692f28;
    padding-top: 5px;
    border-color: #d2d2d2;
}

.cart-btn-cont button {
    background: transparent;
}

.product__item__bottom__link {
    background: #FFAF00;
    color: #692f28;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    text-decoration: none;
}

.product__item__bottom__link:hover {
    background: #f1a600;
}

.product__item__bottom__link span {
    margin-left: 7px;
}

.product__item__bottom__link i {
    color: #692f28;
}

.product__item__price {
    font-weight: bold;
    color: #272727;
    margin-left: 5px;
}