.profile-page .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.profile-page-aside {
  width: 250px;
  display: flex;
  justify-content: center;
}

.profile-page-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient( to left, rgb(194, 34, 34), rgb(233, 119, 12), rgb(214, 183, 9));
}

.profile-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #fff;
  height: 100%;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
}

.profile-page-content .container {
  height: 100%;
}

/*------------- Nav --------------- */

.profile-page-nav {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  margin-right: 10px;
  overflow: hidden;
}

.profile-page-nav__heading {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  background: #d62231;
  padding: 10px 0px;
  color: #fff;
}

.profile-list__item__link {
  padding: 10px;
  border-bottom: none;
  display: block;
  text-decoration: none;
  color: #692f28;
  border-bottom: 1px solid #cecece;
  padding-left: 43px;
  background: url("../assets/img/categories/settings.svg") no-repeat 10px 50%;
  transition-duration: 0.3s;
  background-size: 25px;
}

.profile-list__item__link:last-child {
  border-bottom: none;
}

.profile-list__item__link:hover {
  padding-left: 58px;
  background-position-x: 25px;
}

.profile-list {}

.profile__list__item {
  padding: 10px;
  border: 1px solid gray;
  margin: 5px 0px;
}

.profile__list__item i {
  margin-right: 10px;
}

.active-profile {
  padding-left: 58px !important;
  background-position-x: 25px !important;
}