.reviews {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/*--------------------------*/

.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 35px;
    /* padding: 0 10px; */
    padding: 0 2px 0 6px;
    /* position: absolute; */
    border-radius: 3px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 22px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover, .rate>input:checked+label:hover~label, .rate>input:checked~label:hover, .rate>input:checked~label:hover~label, .rate>label:hover~input:checked~label {
    color: #c59b08;
}

/*------------------------*/

.rate--red {
    border-color: red !important;
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate>input {
    display: none;
}

.warning {
    /* border-color: red; */
    border: 1px solid #d62231 !important;
}

.write-review {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    position: relative;
}

.review__input {
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #cccccc;
    margin: 10px 0px;
    border-radius: 3px;
    resize: none;
}

.review-feedback {
    position: absolute;
    left: 130px;
    bottom: 8px;
    font-size: 13px;
    color: #7b7b7b;
}

.review__button {
    padding: 0px 10px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: #48629d;
}

.review__button:hover {
    background: #425786;
}

.review__list__item {
    border-left: 1px solid #ffc700;
    margin: 20px 0px;
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #f3f3f3;
    /* display: flex;
    flex-direction: column; */
}

.review__list__item:last-child {
    margin-bottom: 0px;
}

.review__list__item__message {
    /* margin: 10px;
    padding: 10px;
    border: 1px solid green; */
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    color: #3a3a3a;
    font-size: 15px;
}

.review-details {
    display: flex;
    justify-content: space-between;
}

.review__date {
    font-size: 10px;
    color: #808080;
    align-self: flex-end;
}

.review__star {
    align-self: flex-start;
    color: #ffc700;
}

.review__list__item__name {
    font-size: 14px;
    text-transform: capitalize;
    /* color: #692f28; */
    color: #966f4a;
    /* color: #6b3900; */
    display: flex;
    align-items: center;
}

.review__rating {
    display: flex;
    align-items: center;
}

.review__rating i {
    color: #ffc700;
    margin-right: 5px;
    font-size: 17px;
}

.review__rating span {
    font-size: 16px;
    color: #3e3e3e;
}

.review__list__item__name i {
    font-size: 11px;
    margin-right: 4px;
}